@media only screen and (min-width: 1025px) {

    /* Header */
    header {
    flex-flow: row;
    justify-content: space-around;
    height: 120px;
    margin-top: 2em;
    align-items: center;
    }
    .headerR {
    font-size: 2.2em;
    }
    /* Page Title */
    .pageTitle {
    font-size: 3em;
    }
    /* Navigation */
    nav button { display: none; }
    .active {
    background-color: #FFF;
    border-radius: 4em 4em 0 0;
    }

    .navigation {
    list-style: none;
    margin: 0; 
    font-size:  1.2rem;
    background: rgb(253, 209, 247);
    display: flex;

    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: flex-end;
    border-bottom: 1px solid rgb(22, 1, 34);
    -webkit-box-shadow: 0 6px 6px 0 rgb(53, 53, 53);
    -moz-box-shadow: 0 6px 6px 0 rgb(53, 53, 53);
        box-shadow: 0 6px 6px 0 rgb(53, 53, 53);
    }
    #primaryNav {
    padding-right: 5em;
    }

    .navigation a {
    text-decoration: none;
    display: block;
    padding: 0.8em 1em;
    color: rgb(49, 8, 88);
    }
    .navigation a:hover {
    color: rgba(252, 10, 212, 0.966);
    text-decoration: overline;
    text-decoration-color: rgb(22, 1, 34);
    }
    .active a {
        color: #fff;
    }
    .active {
    background-color:#9e1097;
    border-radius: 4em 4em 0 0;
    }
    .active a:hover {
    color: rgba(235, 166, 231, 0.966);
    text-decoration: none;
    }

    /* footer section */
    footer {
    max-width:75%;
    margin: 0 auto;
    }
    .footerstuffs{
    align-content: center;
    align-items: center;
    padding: 0.2em;
    }

    #themiddle {    
    justify-content: space-evenly;
    align-self: center;
    padding: 25px;
    }

    .iconLinks {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    }
    #midfootMid a {   
    flex-flow: row;
    justify-content: space-around;
    padding: 25px;
    }
    #themiddle div {
    align-self: center;
    }
    #map iframe {
    width: 400px;
    height: 300px;
    }




    /**************
    *  
    * Home Page
    *
    ***************/
    #welcomePage {
    flex-flow: row;
    margin-top: 5em;    
    }
    #homeContent {
    width: 75%;
    }
    .homeMain {
    justify-content: space-around;
    }
    /* Hero Img Section */
    .heroContainer {
    position: relative;
    }
    .heroContainer img {
    width: 100%;
    margin: 0;
    z-index: 0;
    }
    .heroContainer a {
    position: absolute;
    width: 25%;
    bottom: -1em;
    left: -1em;
    padding: 1em 2em;
    font-size: 1.5em;
    border-radius: 0.5em;
    }
    /* Temple Info Section */
    #welcomePage > div:nth-child(1) {
    padding: 0 2em;
    }
    .templeInfoContainer {
    max-width: 50%;
    margin: 5em auto 1em auto;
    background-color: #fafdff;
    padding: 2em;
    border-radius: 0.2em;
    justify-content: space-around;
    }
    .indTempImg {
    padding-top: 2em;
    align-self: flex-start;
    }
    .indTempImg img{
    width: 100%;
    border-radius: 0.2em;
    }
    .templeTextContainer{
    margin-left: 2em;
    }
    .mainTempleInfo h3{
    margin-bottom: -0.6em;        
    }
    /* Amenities Section */
    .amenitiesHome {
    margin: 5em;
    background-color: #5f0a5b;
    padding: 2em;
    border-radius: 0.2em;
    color: rgb(255, 255, 255);
    }
    .amenitiesHome li {
    padding: 0.38em 0;
    list-style: none; 
    }
    .amenitiesHome li:before {
    content: "\2022";
    color: #d881d4;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
    }

    /**************
    *  
    * Temple Page
    *
    ***************/


    /**************
    *  
    * Reservation Page
    *
    ***************/
    /* Form Title */
    #reservationTitle {
    color: rgb(255,254,254);
    align-self: center;
    margin-right: 0.5em;
    text-align: center;
    }

    /* Form Container */
    .containerReservation {
    display: flex;
    max-width: 75%; 
    flex-flow: row;
    margin: 5em 5em 5em 15em;
    }
    .reservationForm {
    margin: 2em;
    }
    .reservationFormWrapper {
    margin: 2em;
    }
    /* Form Content */
    #reservationInputTop {
    flex-flow: column;
    justify-content: space-evenly;
    }
    #upperUpper, #lowerUpper {
    margin: 2em;
    flex-flow: row;
    justify-content: space-around;
    }
    #upperUpper > div, #lowerUpper > div {
    justify-content: space-evenly;
    margin-right: 1.5em;
    }

    .reservationForm .messageReservation {
    flex-flow: column;
    align-self: flex-start;
    width: 300px;
    }
    .reservationForm .messageReservation textarea{
    height: 200px;
    width: 100%;
    margin: 10px 0;
    background: transparent;
    border: 0;
    border-bottom: 2px solid rgba(92,131,1, 0.8);
    padding: 10px;
    color: #1f1f1f;
    }





    /**************
    *  
    * Contact Page
    *
    ***************/
    .containerContact{
    flex-direction: column;
    }
    .formField{
    flex-flow: row;
    justify-content: center;
    }
    .contact-form{
    width: 400px;
    padding: 30px;
    }
    .input-field{
    flex-direction: column;
    width: 100%;
    }
    .info{
    flex-flow: row wrap;
    align-self: flex-start;
    }


    /**************
    *  
    * Resources Page
    *
    ***************/
    #resourcesContainer {
    max-width: 75%;
    }
