body {
    font-family : 'Ubuntu', sans-serif;
	font-size: 20px;
}
main {
	width: 100%;
}
table {
  padding: .75em;
  border-collapse: collapse;
  text-align: center;
  margin:1em auto;
  box-shadow: 10px 10px 8px #888888;
}
table th {
	background-color: #628CA6;
	color: white;
	padding: .75em;
	border: 1px solid #BBBBBB;
}
table tr:nth-child(1) th {
	background-color: #7FB9C2;
	font-size: 25px;
	padding: .55em;
	font-weight: 900;
	color: black;
}
table td {
  padding: .75em;
  border: 1px solid #BBBBBB;
}
table tr:nth-child(even) {
  background-color: #E7FFED;
}
table tr:nth-child(odd) {
  background-color: #E7F0ED;
}
table tfoot td {
  background-color: #7FB9C2;
  font-size: 15px;
}
table td#td01 {
  background-color: #628CA6;
  color: white;
}
table tr:nth-child(5) td:first-child {
  font-style: italic;
}