#logo {
    max-height: 90px;
}

body {
    margin: auto;
    background-color: rgb(119, 100, 190);
}

p {
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    font-size: 15px
}

body li {
        font-family: 'Roboto', sans-serif;
        color: #091263;
}

h1 {
    font-family: 'Roboto', sans-serif;
    color: rgba(30, 185, 247, 0.918);
    font-size: 24px;
}

h2 {
    font-family: 'Roboto', sans-serif;
    color: rgba(57, 118, 250, 0.918);
    font-size: 20px;
}

h3 {
    font-family: 'Roboto', sans-serif;
    color: rgb(3, 34, 100);
    font-size: 16px;
    font-style: italic;
}

/* unvisited link */
a:link {
  color: rgb(3, 34, 100)
}

/* visited link */
a:visited {
  color: rgb(49, 9, 61);
}

/* mouse over link */
a:hover {
  color: rgb(14, 238, 25);
}

/* selected link */
a:active {
  color: rgb(17, 141, 27);
}



/*  ----- -- ------- ----- Header */


header, nav {
    text-align: center;
}
header {
    background-color: rgb(24, 20, 20);
}

header img, .heading {
    display: inline-block;
    vertical-align: middle;
    margin: 10px;
    font-family: 'Roboto', sans-serif;
    color: rgb(119, 100, 190);
}

header .heading p {
    color: #999;
}

.motto {
    font-family: 'Montserrat', sans-serif;
    color: #000000;
}
/*  ----- -- ------- ----- Navigation */

nav li {
    display: inline;
}
nav {
    padding: 8px;
    box-shadow: 0 6px 30px #999;
}

#display {
    display: none;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

nav li a {
    color: #888;
    padding: 8px 16px;
    text-decoration: none;
    text-transform: uppercase;
}
nav  li {
  background-color: rgb(119, 100, 190);
  color: white;
}

.active a {
  background-color: #222;
  color:white;
}

/*  ----- -- ------- ----- Hero */
.hero-ph img {
  max-width: 100%;
  height: auto;
}

.herodiv {
    margin: 10px auto;
    position: relative;
    max-width: 500px;
    height: auto;
}

.hero h1 {
    margin: auto;
    padding: 20px;
    text-align: center;
}

.hero-ph {
    margin: 10px auto;
    max-width: 500px;
    height: auto;
}

.weathersummary {
    position: absolute;
    top: 50px;
    left: 50px;
    background-color: rgba(34, 34, 34, 0.562);
    padding: 10px;
    box-shadow: 0 0 30px #555;
    border-radius: 5px;
}

.weathersummary h1 {
    color: #00B8A5;
}

.weathersummary li {
    color: white;
    list-style: none;
}

/*  ----- -- ------- ----- 5 days forecast */

.forecast {
    max-width: 800px;
    margin: auto;
    text-align: center;
}

.forecastbox {
    display: inline-block;
    width: 10%;
    padding: 20px;
    margin: 1.15em;
    background-color: rgba(34, 34, 34, 0.308);
    box-shadow: 0 0 30px rgba(51, 50, 50, 0.616);
    border-radius: 5px;
}

.forecastbox p {
    color: white;
}
    

/*  ----- -- ------- ----- Article */

main {
    max-width: 500px;
    background-color: white;
    margin: 10px auto;
    padding: 30px;
    box-shadow: 0 0 30px #999;
    border-radius: 5px;

}

article img {
    max-width: 50%;
    float: right;
    margin: 10px;
    box-shadow: 0 0 30px #999;
    border-radius: 5px;
}

/*  ----- -- ------- ----- Contact*/

.contactinfo {
    max-width: 500px;
    background-color: #444;
    margin: 10px auto 0px;
    padding: 30px;
}

.contactinfo p {
    color: aliceblue;
}


.contactinfo img {
    max-width: 50%;
    float: right;
    margin: 10px;
    box-shadow: 0 0 30px #333;
    border-radius: 5px;
}

/*  ----- -- ------- ----- Footer */

footer {
    max-width: 500px;
    background-color: rgb(161, 136, 175);
    margin:auto;
    padding: 30px;
}

footer p {
    color: white;
}